/* @font-face {
  font-family: Comfortaa;
  src: 'https://fonts.googleapis.com/css?family=Comfortaa';
} */

body {
  font-family: 'Comfortaa';
}

/* .section_header {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  identical to box height


  color: purple;
} */

