body {
    font-family: 'Comfortaa';
}

.content {
    position: absolute;
    left: 12%;
    margin: auto;
    padding: 4%;
    width: 40%;
}

.navbar {
    font-size: 30px;
    background: #E1D1F5;
    position: absolute;
    left: 0%;
    width: 10%;
    height: 100%;
    padding: 1.25%;
    line-height: 75%;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.logout {
    position: absolute;
    bottom: 10%;
}

.person {
    position: absolute;
    right: 5%;
    width: 16%;
    top: 15%;
    text-align: center;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.line {
    height: 1%;
    width: 600px;
    border: 1px solid #CDAEF5;
    margin-top: -15px;
    margin-bottom: 30px;
}

.section {
    font-size: 110%;
}

.songs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8%;

    /* column-count: 4;
    width: 140%;
    column-gap: 10px;
    column-width: 160px; */
}

.songs2 {
    display: grid;
    grid-template-columns: auto auto auto auto;

    /* column-count: 2;
    width: 70%;
    column-gap: 10px; */
}

.song {
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 160px;
    /* padding: 10%; */
    /* text-align: center; */
}

.caption {
    width: 160px;
    text-align: center;
    line-height: 140%;
}

.new_song {
    height: 160px;
    width: 160px;
    background: #E1D1F5;
    text-align: center;
    font-size: 200%;
    line-height: 160px;
}

.new_section {
    color: #CDAEF5;
    font-size: 110%;
}

.bio {
    font-size: 200%;
}

.editBtn {
    display: flex;
    margin: auto;
    background: #E1D1F5;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 10%;
}

.pickBtn {
    display: flex;
    margin: auto;
    background: #E1D1F5;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    border-radius: 15px;
    font-size: 150%;
    margin-top: 2%;
}

.create_playlist {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    /* line-height: 100%; */
}

.login {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    /* line-height: 100%; */
}

.playlist_name {
    width: 20%;
    padding: 10px 10px;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Comfortaa';
    font-size: 110%;
}

.platforms {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* align-items: center;
    justify-content: center; */
}

.platform {
    display: flex;
    /* display: inline-block; */
    text-align: center;
    font-size: 180%;
    align-items: center;
    justify-content: center;
}

.profile_vis {
    opacity: 1;
}

.profile_trans {
    opacity: 0.2;
}

/* for when these names are eventually links
a:hover {
    background-color: some shade of white
} 
*/

.line2 {
    height: 1%;
    width: 400px;
    border: 1px solid #C5C5C5;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: auto;
}

.home {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 12% 0;
}

.home p {
    color: #CDAEF5;
    font-size: 400%;
}

.home h1 {
    font-size: 600%;
}

.loginBtn {
    display: flex;
    margin: auto;
    background: #E1D1F5;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    border-radius: 15px;
    font-size: 150%;
    margin-top: 2%;
}

.search {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 12% 0;
}

.user {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.search_ppl {
    width: 20%;
    padding: 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Comfortaa';
    font-size: 110%;
}

.user p {
    font-size: 200%;
}

.v1 {
    border-left: 6px solid #CDAEF5;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.stuff {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.user1 {
    /* left: 50%;
    width: 30%;
    top: 0px; */
    /* display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; */
    margin-left: 7%;
    width: 30%;
}

.user1name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.user2 {
    position: absolute;
    margin-left: 42%;
    width: 30%;
    margin-top: -46%;
}

.user2name {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.user1 p {
    font-size: 250%;
}

.user2 p {
    font-size: 250%;
}

.vlogos {
    margin-left: -15%;
}

.user1songs {
    margin-top: 2%;
    margin-left: 18%;
}

.user2songs {
    margin-top: 2%;
    margin-left: 25%;
}

.song_list {
    /* margin-left: 18%; */
    position: relative;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 650px;
    padding: 2%;
}

.h_caption {
    padding: 1%;
    font-size: 120%;
    width: 400px;
}

.doneBtn {
    display: flex;
    background: #E1D1F5;
    position: fixed;
    right: 5%;
    top: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    font-size: 150%;
}

.finalize_playlist {
    margin: auto;
    width: 575px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8%;
}

.exportBtn {
    display: flex;
    margin: auto;
    background: #E1D1F5;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-size: 150%;
    margin-top: 5%;
}

.search_vis {
    opacity: 1;
}

.search_hidden {
    display: none;
}

.search_new {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    position: relative;
    /* line-height: 100%; */
}

.search_new_song {
    margin: auto;
    width: 40%;
    /* padding: 10px 2px; */
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Comfortaa';
    font-size: 130%;
    background: #e9dbfa;
    padding: 1%;
    /* position: absolute; */
}

.results {
    margin: auto;
    margin-top: -2%;
    width: 80%;
}

.song_list2 {
    /* margin-left: 18%; */
    position: relative;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    /* width: 650px; */
    padding: 2%;
}

.spotify_results {
    left: 15%;
    background: #dfc9fc;
    /* background: #E1D1F5; */
    padding: 2%;
    position: absolute;
    width: 20%;
}

.yt_results {
    left: 42.5%;
    background: #e9dbfa;
    padding: 2%;
    position: absolute;
    width: 20%;
}

.to_add {
    left: 70%;
    background: #e9dbfa;
    padding: 2%;
    position: absolute;
    width: 20%;
}

.delete {
    font-size: 150%;
    color: red;
}

